@use './../../scss/color.scss';

.menu-big {
  position: absolute;
  left: calc(50% - 550px);
  top: 47vh;

  &__list {
    display: flex;
    gap: 32px;
  }

  &__item {
    display: block;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 192px;
    height: 125px;
    padding: 10px;
    font-size: 28px;
    text-align: center;
    color: color.$black-default;

    background-color: color.$bg-grey;
    border-radius: 20px;
  }
}
