@use '../../scss/mixins' as m;
@use '../../scss/variables' as *;

.header {
  @include m.center-container;
  display: flex;
  padding: 30px 8px;
  opacity: 0;
  animation: header-appearance 1.5s forwards;

}

@keyframes header-appearance {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.header__badge-link {
  margin-top: 5px;
  margin-right: auto;
}

.header__badge {
  @include m.h1;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 13px 30px;
  width: 341px;
  height: 90px;
  line-height: 29px;
  background: url('../../image/badge-bg.png') center no-repeat;

  &::before {
    position: absolute;
    content: '';
    top: -4px;
    left: -5px;
    width: 329px;
    height: 85px;
    background: url('../../image/badge-border.png') center no-repeat;
    transition: transform 0.1s;
  }

  &:hover::before {
    transition: transform 0.1s;
    transform: translate(4px, 4px);
  }
}

.header__badge-subtitle {
  @include m.text;
  font-size: 24px;
  color: $light-text;
}
