@use './../../scss/color.scss';

.common {
  width: 100%;
  position: relative;
  min-height: 100vh;
  padding: 437px 90px 90px;

  &__name {
    position: absolute;
    font-size: 64px;
    text-transform: uppercase;
  }

  &__specialty {
    position: absolute;
    font-size: 36px;
  }
}
