@use './../../scss/color.scss';

.common {
  width: 1280px;
  left: calc(50% - 640px);

  &__name {
    position: absolute;
    font-size: 64px;
    text-transform: uppercase;
  }

  &__specialty {
    position: absolute;
    font-size: 36px;
  }
}
