@use '../../../scss/mixins.scss' as m;
@use '../../../scss/variables.scss' as *;

.main-nav {
  display: flex;
  align-items: center;
  gap: 30px;
}

.main-nav__link {
  position: relative;
  display: flex;
  justify-content: center;
  width: 108px;
  padding-top: 83px;

  &--about {
    background: url('../../../image/about-icon.png') top left calc(50% - 4px) no-repeat;
  }

  &--skills {
    background: url('../../../image/skills-icon.png') top left calc(50% - 4px) no-repeat;
  }

  &--education {
    background: url('../../../image/education-icon.png') top left calc(50% - 4px) no-repeat;
  }

  &--experience {
    background: url('../../../image/experience-icon.png') top left calc(50% - 4px) no-repeat;
  }

  &--portfolio {
    background: url('../../../image/portfolio-icon.png') top left calc(50% - 4px) no-repeat;
  }

  &::after {
    position: absolute;
    content: '';
    top: 6px;
    left: 18px;
    width: 74px;
    height: 70px;
    background: url('../../../image/nav-bg.png') center no-repeat;
    z-index: -1;
  }
  
  &:hover::after {
    animation: nav-animation 0.25s infinite ;
  }
}

.main-nav__text {
  @include m.nav-text;
  position: relative;
  text-align: center;

  &::after {
    position: absolute;
    content: '';
    bottom: -4px;
    left: 50%;
    width: 0px;
    height: 3px;
    background-color: $accent;
    transition: all 1s;
    opacity: 0;
  }

  &:hover::after {
    transition: all 1s;
    opacity: 1;
    left: 0px;
    width: 100%;
  }
}

.main-nav__link:hover .main-nav__text::after {
  transition: all 1s;
  opacity: 1;
  left: 0px;
  width: 100%;
}

@keyframes nav-animation {
  0% {
    background: url('../../../image/nav-bg.png') center no-repeat;
  }
  49% {
    background: url('../../../image/nav-bg.png') center no-repeat;
  }
  50% {
    background: url('../../../image/nav-bg-2.png') center no-repeat;
  }
  100% {
    background: url('../../../image/nav-bg-2.png') center no-repeat;
  }
}