@font-face {
  font-family: 'Rounded Mplus 1c';
  src: url('./fonts/MPLUSRounded1c-Medium.woff2'),
    url('./fonts/MPLUSRounded1c-Medium.woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rounded Mplus 1c';
  src: url('./fonts/MPLUSRounded1c-Regular.woff2'),
    url('./fonts/MPLUSRounded1c-Regular.woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Rounded Mplus 1c';
  src: url('./fonts/MPLUSRounded1c-Light.woff2'),
    url('./fonts/MPLUSRounded1c-Light.woff');
  font-weight: 300;
  font-style: normal;
}
