@use './../../scss/color.scss';

@mixin page {
  padding-top: 147px;
  width: 1280px;
  margin: 0 auto;
}

@mixin title {
  margin-bottom: 25px;
  font-weight: 400;
  font-size: 36px;
  line-height: 53px;
  text-transform: uppercase;
  color: color.$black-default;
}
