@use './../../scss/color.scss';

.contacts {
  z-index: 100;
  position: fixed;
  left: calc(50% + 407px);
  bottom: 56px;
  display: flex;
  flex-direction: column;
  width: 233px;
  padding: 30px 24px 45px 37px;
  background-color: color.$bg-grey;
  border-radius: 15px;

  &__title {
    margin-bottom: 22px;
    font-weight: 300;
    font-size: 24px;
    line-height: 36px;
    color: color.$black-default;
  }

  &__list {
    display: flex;
    gap: 11px;
    margin-bottom: 21px;
  }

  &__link {
    display: block;
    width: 40px;
    height: 40px;
    font-size: 0;

    svg {
      transition: fill 0.3s;
    }

    &--telegram {
      svg {
        fill: #b5b2c6;
      }
    }

    &--telegram:hover {
      svg {
        fill: #2aabee;
      }
    }

    &--vk {
      svg {
        fill: #b5b2c6;
      }
    }

    &--vk:hover {
      svg {
        fill: #4c75a3;
      }
    }
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: color.$black-default;
  }
}
